.contacts_container {
	min-height: calc(100vh);
	display: flex;
	align-items: flex-end;
	overflow-x: hidden;
	/* margin-top: 53px; */
}
.contact_main_image {
	max-width: 600px;
	animation: photo-cover .3s ease-in-out 0s  normal none;
	position: relative;
}

.main_title {
	animation: text-show 0.3s linear 0s normal none;
	position: relative;
}
.main_subtitle {
	position: relative;
	animation: text-show 0.5s linear 0s normal none;
}
.contacts_main {
	padding-top: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}
span {
	color: rgb(230, 18, 18);
}
.main_text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 300px;
	gap: 20px;
}
.main_icons {
	max-width: 200px;
	display: flex;
	justify-content: space-between;
	width: 100%;
	animation: skew-x-shakeng 1s linear 1s normal none;
}

.main_mail:hover {
	text-decoration: underline;
}
.main_mail {
	color: wheat;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-style: italic;
	font-size: 16px;
}
@keyframes skew-x-shakeng{
	0% { transform: skewX(-50deg); opacity: 0; filter: blur(8px); }
	5% { transform: skewX(50deg); opacity: 1; filter: blur(0); }
	10% { transform: skewX(-50deg); opacity: 0; filter: blur(8px); }
	15% { transform: skewX(50deg); opacity: 1; filter: blur(0); }
	20% { transform: skewX(0deg); }
	100% { transform: skewX(0deg); }
  }
@keyframes text-show {
	0% {left: -200%; opacity: 0; transform: scaleX(100);}
	100% {left: 0; opacity: 1; transform: scaleX(1);}
}
@keyframes photo-cover {
	0% {right: -200%; opacity: 0;}
	75% {right: 5%; opacity: 1;}
	85% {right: -10%; opacity: .5;}
	100% {right: 0; opacity: 1;}
}
@media (max-width: 1024px) {
	.contact_main_image{ 
	max-width: 500px;
	}
}
@media (max-width: 820px) {
	.contact_main_image{ 
	max-width: 400px;
	}
	.main_text {
		height: auto;
	}
}
@media (max-width: 748px) {
	.contacts_main {
		flex-direction: column;
		gap: 20px;
		/* margin-bottom: 20px; */
	}
	.main_text {
		align-items: center;
		text-align: center;
	}
	.main_subtitle {
		text-align: left;
	}
}