.nav_container {
	display: flex;
	justify-content: space-between;
	gap: 100px;
	align-items: center;
}
.links {
	max-width: 500px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	gap: 10px;
}
.header_container {
	padding: 15px 0;
	background: rgba(15, 15, 15, 0.8);
	position: fixed;
	width: 100%;
	z-index: 5;
	top: 0;
}
.language_buttons {
	display: flex;
	align-items: center;
}
.burger_btn {
	width: 30px;
	height: 23px;
	margin-left: 15px;
	position: absolute;
	cursor: pointer;
	display: none;
	z-index: 10;
}
.burger_btn span {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 35px;
	background: greenyellow;
	height: 2px;
	border-radius: 3px;
	transition: all .2s ease;
}
.burger_btn::before {
	content: '';
	position: absolute;
	top: 0;
	width: 35px;
	background: greenyellow;
	height: 2px;
	border-radius: 3px;
	transition: all .2s ease;
}
.burger_btn::after {
	content: '';
	position: absolute;
	bottom: 0;
	width: 35px;
	background: greenyellow;
	height: 2px;
	border-radius: 3px;
	transition: all .2s ease;
}
.burger_btn.active::before {
	transform-origin: center;
	transform: rotate(45deg) translateY(15px);
	margin-left: 6px;
	background: rgb(230, 18, 18);
}
.burger_btn.active::after {
	transform-origin: center;
	transform: rotate(-45deg) translateY(-15px);
	margin-left: 6px;
	background: rgb(230, 18, 18);
}
.burger_btn.active span {
	transform: scale(0);
}
.burger_menu {
	display: none;
	background: rgba(15, 15, 15, 0.8);
	min-height: 100vh;
	width: 200px;
	position: absolute;
	left: -150%;
	top: 0;
	transition: all .2s ease;
}
.nav_subcont {
	display: flex;
	justify-content: space-between;
	width: 100%;
	transition: all .2s ease;
}
.blur_back {
	display: none;
	height: 100vh;
	width: 100vw;
	z-index: 3;
	position: absolute;
	top: 0;
}
.blur_back.active {
	backdrop-filter: blur(3px);
	display: block;
}
@media (max-width: 768px) {
	.burger_btn {
		display: block;
		left: 0;
	}
	.home_link {
		width: fit-content;
	}
	.nav_subcont {
		flex-direction: column;
		position: absolute;
		top: 100px;
		left: -100%;
		gap: 40px;
		z-index: 5;
	}
	.nav_subcont.active {
		left: 15px;
	}
	.nav_container {
		height: 14px;
	}
	.links {
		flex-direction: column;
		gap: 20px;
		width: fit-content;
	}
	.burger_menu {
		display: block;
		margin-top: 44px;
		z-index: 4;
	}
	.language_buttons {
		order: 2;
	}
	.burger_menu.active {
		left: 0;
	}
}
/* .header_burger {
	display: none;
} */

/* @media (max-width: 748px) {
	.header_burger {
		display: block;
		width: 200px;
		height: 100vh;
		background: antiquewhite;
		position: absolute;
		top: 0;
		left: 0;
	}
} */