.works_container {
	color: #fff;
	padding: 80px 0 30px 0;
	overflow-x: hidden;
}
.works_photo {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 50px;
	border-bottom: 2px solid rgba(128, 128, 128, 0.575);
	padding: 30px 0;
}

.works_image {
	width: fit-content;
	border: 3px solid rgb(0, 0, 0);
	border-radius: 50%;
	animation: shadow .5s linear 0s normal none;
	box-shadow: 3px 3px 15px #fff ;
	perspective: 1000px;
}
.works_image img {
	object-fit: cover;
	width: 200px;
	height: 200px;
	border-radius: 50%;
}
.works_title {
	font-size: 40px;
	font-weight: bold;
	padding: 15px 0;
	position: relative;
	animation: text-show 0.3s linear 0s normal none;
}
.works_title::after {
	content: '';
	background: rgb(230, 18, 18);
	width: 100%;
	height: 3px;
	position: absolute;
	left: 0;
	bottom: 0;
}
.works_description {
	display: flex;
	justify-content: space-around;
	padding: 30px 0;
	gap: 40px;
}
.description_container {
	display: flex;
	flex-direction: column;align-items: center;
	gap: 20px;
	width: 50vw;
	border: 1px solid grey;
	border-radius: 10px;
	padding: 15px;
}
@keyframes shadow {
	0% {box-shadow: none; transform: rotateY(720deg); opacity: 0;}
	/* 50% {box-shadow: 10px 10px 20px #fff ;} */
	100% {box-shadow: 3px 3px 15px #fff; transform: rotateY(0); opacity: 1;}
}
@media (max-width: 650px) {
	.works_photo {
		flex-direction: column-reverse;
	}
	.works_description {
		flex-direction: column;
		align-items: center;
	}
	.description_container {
		width: auto;
	}
	.works_title {
		text-align: center;
	}
}